$gutter-helper--gutter: 30px !default;
$gutter-helper--multipliers: (.5, 1, 2) !default;
$gutter-helper--properties: ('margin', 'padding') !default;
$gutter-helper--directions: ('a', 'x', 'y', 'top', 'right', 'bottom', 'left') !default;
$gutter-helper-responsive: true !default;
