@function decimal-round($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) != number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }

    // $digits must be a unitless number
    @if type-of($digits) != number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }

    @for $i from 1 through $digits {
        $n: $n * 10;
    }

    @if $mode == round {
        @return round($number * $n) / $n;
    } @else if $mode == ceil {
        @return ceil($number * $n) / $n;
    } @else if $mode == floor {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}

@function gutter-helper--get-unit($value, $length-checked) {
    $string: inspect($value);
    $string-length: str-length($string);
    $string-end: str-slice($string, $string-length - ($length-checked - 1), $string-length);
    @return $string-end;
}

@function gutter-helper--detect-unit($value) {
    @if gutter-helper--get-unit($value, 2) == 'px' {
        @return 'pixels';
    } @elseif gutter-helper--get-unit($value, 2) == 'pt' {
        @return 'points';
    } @elseif gutter-helper--get-unit($value, 3) == 'rem' {
        @return 'rem';
    } @elseif gutter-helper--get-unit($value, 2) == 'em' {
        @return 'em';
    }

    @return false;
}

@function gutter-helper--round-level($value) {
    @if gutter-helper--detect-unit($value) == 'pixels' and gutter-helper--detect-unit($value) == 'points' {
        @return true;
    }

    @return false;
}

@function gutter-helper--rule-value($multiplier) {
    @if gutter-helper--round-level($multiplier) {
        @return round($gutter-helper--gutter * $multiplier) !important;
    }

    @return $gutter-helper--gutter * $multiplier !important;
}

@mixin gutter-helper--rules-generator($property: 'margin', $direction: '', $multiplier: 1, $breakpoint: '') {
    @if $direction == 'a' {
        #{$property}: gutter-helper--rule-value($multiplier);
    } @elseif $direction == '' {
        #{$property}: gutter-helper--rule-value($multiplier);
    } @elseif $direction == 'y' {
        #{$property}-top: gutter-helper--rule-value($multiplier);
        #{$property}-bottom: gutter-helper--rule-value($multiplier);
    } @elseif $direction == 'x' {
        #{$property}-left: gutter-helper--rule-value($multiplier);
        #{$property}-right: gutter-helper--rule-value($multiplier);
    } @else {
        #{$property}-#{$direction}: gutter-helper--rule-value($multiplier);
    }
}
