@import 'functions/helper';
@import 'functions/selector-generator';

// Class construct
// .gutter-{type}-{multiplier}-{breakpoint}

$gutter-helper--gutter: 30px !default;
$gutter-helper--multiplier: (.5, 1) !default;
$gutter-helper--directions: ('a', 'y', 'x', 'top', 'right', 'bottom', 'left') !default;
$gutter-helper--breakpoints: (
    'xs': 0,
    'sm': 768px,
    'md': 992px,
    'lg': 1200px,
) !default;

@function gutter-helper--rule-value($multiplier) {
    @return round($gutter-helper--gutter * $multiplier);
}

@mixin gutter-helper--rules-generator($property: 'margin', $direction: '', $multiplier: 1, $breakpoint: '') {
    @if $direction == 'a' {
        #{$property}: gutter-helper--rule-value($multiplier);
    } @elseif $direction == '' {
        #{$property}: gutter-helper--rule-value($multiplier);
    } @elseif $direction == 'y' {
        #{$property}-top: gutter-helper--rule-value($multiplier);
        #{$property}-bottom: gutter-helper--rule-value($multiplier);
    } @elseif $direction == 'x' {
        #{$property}-left: gutter-helper--rule-value($multiplier);
        #{$property}-right: gutter-helper--rule-value($multiplier);
    } @else {
        #{$property}-#{$direction}: gutter-helper--rule-value($multiplier);
    }
}

#{gutter-helper--selector-generator('padding', 'left', 2, 'xs')} {
    @include gutter-helper--rules-generator('padding', 'left', 2, 'xs');
}
