@import 'partials/parameters';
@import 'partials/str-replace';
@import 'partials/unit-functions';
@import 'partials/selectors-generator';
@import 'partials/rules-generator';

@mixin gutter-helper--generator($property: 'margin', $direction: '', $multiplier: 1, $breakpoint: '') {
    #{gutter-helper--selector-generator($property, $direction, $multiplier, $breakpoint)} {
        @include gutter-helper--rules-generator($property, $direction, $multiplier, $breakpoint);
    }
}

$index: 0;
@each $multiplier in $gutter-helper--multipliers {
    @each $direction in $gutter-helper--directions {
        @each $property in $gutter-helper--properties {
            @if $gutter-helper--breakpoints {
                @each $breakpoint, $query in $gutter-helper--breakpoints {
                    @if $query == 0 {
                        @include gutter-helper--generator($property, $direction, $multiplier, $breakpoint);
                        $index: $index + 1;
                        @include gutter-helper--generator($property, $direction, $multiplier, '');
                        $index: $index + 1;
                    } @else {
                        @media (min-width: $query) {
                            @include gutter-helper--generator($property, $direction, $multiplier, $breakpoint);
                            $index: $index + 1;
                        }
                    }
                }
            } @else {
                @include gutter-helper--generator($property, $direction, $multiplier, '');
                $index: $index + 1;
            }
        }
    }
}

@warn 'Gutter Helper generated #{$index} classes. Be aware of the amount of unsed kb of css that could be generated'
